.conteudo{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background{
    height: 100vh;
    position: absolute;
    left: 0;

}

.info{
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
}

input {
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    width: 85%;
    color: #ffffff;
    margin-right: 12px;
    background-color: transparent;
    font-size: 18px;
    padding: 10px;
}

input:focus {
    border-color: #005a03; 
}

button{
    border: 1px solid #999999;
    border-radius: 22px;
    margin-right: 12px;
    background-color: #2D333B;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    &:hover{
        background-color: #3e8e41;
        animation: clickAnimation 0.4s linear;
    }   
}



.perfil{
    display: flex;
    margin: 40px 0;
    
}

.profile{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #e5e5e5;
    margin-right: 32px;
}

.perfil h3{
    color: #e0e0e0;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999999;
    font-size: 12px;
    margin: 20px 0 0 0;
    font-family: Inter;
}

.repositorio{
    font-size: 32px;
    color: #ffffff;
    margin: 12x 0;
    text-align: center;
}